h5{text-align: right;
tex
}

#body {text-align:left;}

.apple { width: 250px; /* Adjust as needed */
    height: 400px; /* Adjust as needed */
    float: right;
}

.pasta { width: 250px; /* Adjust as needed */
    height: 400px; /* Adjust as needed */
    float: right;
}

.shrimp { width: 250px; /* Adjust as needed */
    height: 400px; /* Adjust as needed */
    float: right;

    
}
